*{
    margin: 0;

}

body{
    background-color: #eee;
}

.cabeza{
    background-color: skyblue;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    
    
}

.barra{
    background-color: skyblue;
    text-align: center;
    padding: 10px;
}

.barra a{
    transition: 0.5s;
    text-decoration: none;
    color: rgba(43, 37, 37, 0.733);
    padding: 20px;
}

.barra ul li{
    list-style-type: none;
    display: inline-block;
}

.barra a:hover{
    padding: 10px;
    background-color: rgba(61, 148, 182, 0.726);
    color: rgb(255, 255, 255); 
    
}

.texto{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
}

.contenido{
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    background-color: #fff;
}

.mapa{
    width: 400px;
    height: 250px;
    float: right;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    
}

.tabla{
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
}

.tabla th, td{
    border: solid 1px black;
    padding: 5px;
    
}


.tabla tr:hover{
    background-color: #eee;
}

footer{
    background-color: skyblue;
    padding: 50px;
    font-family: 'Quicksand', sans-serif;
}

footer img{
    width: 30px;
    height: 30px;
}

.a{
    color: black;
    transition: 0.5s;
    text-decoration: none;
    float: right;
    margin: 5px;
}

footer a:hover{
    color: rgb(255, 255, 255);
}

footer p{
    padding: 0;
}


