*{
    margin: 0;
}

body{
    background-color: #eee;
}

.cabeza{
    padding: 30px;
    background-color: rgb(8, 8, 173);
    color: rgb(228, 228, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.cabeza h1{
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    width: 300px;
    font-family: 'Questrial', sans-serif;
    text-shadow: 10px 8px 2px black;
    text-align: center;
    
}

.contenedor{
    font-family: 'Questrial', sans-serif;
}

/*
.lista a{
    text-decoration: none;
    color: rgb(228, 228, 0);
}

nav{
    text-align: right;
}

.indice{
    border: 1px solid black;
    width: 130px;
}*/


.barra{
    background-color: rgb(8, 8, 173);
    text-align: center;
    margin-right: 100px;
}

.barra a{
    transition: 0.5s;
    text-decoration: none;
    color: rgba(43, 37, 37, 0.733);
    padding: 20px;
}

.barra ul li{
    list-style-type: none;
    display: inline-block;
}

.barra a:hover{
    padding: 15px;
    background-color: rgb(8, 8, 173);
    color: rgb(255, 255, 255); 
}

.lista > li{
    float: left;
}

.lista li a {
    background-color: rgb(8, 8, 173);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.lista li a:hover{
    background-color: rgb(6, 6, 121);
}

.lista li ul{
    display: none;
    position: absolute;
    min-width: 130px;
}

.lista li:hover >ul{
    display: block;
}






.indice{
    border: 1px solid black;
    width: 130px;
}

.indice a{
    text-decoration: none;
    line-height: 25px;
    color: rgb(1, 1, 185);
}

.indice li{
    list-style: none;
    width: 100px;
    
}

.indice a:hover{
    color: red;
}

aside{
    float: right;
    margin: 30px;
}

.escudo{
    text-align: center;
    padding-top: 20px;

}

.contenedor{
    background-color: white;
    text-align: justify;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

.contenedor h1{
    font-size: 35px;
}

.color{
    color: rgb(216, 1, 1);
}

h3{
    color: rgb(1, 1, 189);
}

.tx1{
    width: 74%;
}

.tx2{
    width: 74%;
}

.ubicacion{
    width: 313px;
    margin-left: 300px;
    cursor: pointer;
    transition: 0.5s;
}

.ubicacion:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}




.presidente{
    transition: 1s ease;
    width: 130px;
    height:170px;

}

.presidente:hover{
    width: 170px;
    height: 220px;
    border-radius: 20%;

}



footer{
    background-color: rgb(8, 8, 173);
    padding: 40px;
    font-family: 'Quicksand', sans-serif;
}

footer p{
    color: rgb(228, 228, 0);
}

footer a{
    color: rgb(228, 228, 0);
    transition: 1s;
    text-decoration: none;
    float: right;
    margin: 5px;
}

footer a:hover{
    color: black;
}

footer p{
    padding: 0;
}
