*{
    margin: 0;
}

body{
    background-color: #eee;
}

.cabeza{
    background-color: skyblue;
    padding: 40px;
    text-align: center;
    text-align: center;
}

.titulo{
    margin-left: 50px;
}

h1{
    font-size: 50px;
}

.barra{
    margin: auto;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 290px;
    margin-top: 20px;
}

.barra ul li{
    list-style: none;
}

.barra a{
    transition: 0.5s ease;
    text-decoration: none;
    background-color: skyblue;
    color: black;
    
}

.barra a:hover{
    padding: 10px;
}

.lista li a{
    background-color: skyblue;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.lista li a:hover{
    background-color: rgb(110, 171, 196);
    color: white;
}

.lista > li {
    float: left;
}

.lista li ul{
    display: none;
    position: absolute;
    min-width: 100px;
}

.lista li:hover > ul{
    display: block;
}

.contenido{
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    background-color: #fff;
}

.texto1{
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
}

.imagen1 img{
    width: 300px;
    height: 200px;
}


.im{
    width: 50%;
    text-align: justify;
    float: right;
    justify-content: center;
    padding-top: 35px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

.imagen2 img{
    width: 300px;
    height: 200px;
    padding-left: 100px;
}

.im1{
    width: 50%;
    text-align: justify;
    float: left;
    justify-content: center;
    padding-top: 40px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

.imagen3 img{
    width: 300px;
    height: 200px;
}

.im2{
    width: 50%;
    text-align: justify;
    float: right;
    justify-content: center;
    padding-top: 35px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

.imagen4 img{
    width: 300px;
    height: 200px;
    padding-left: 100px;
}

.im3{
    width: 50%;
    text-align: justify;
    float: left;
    justify-content: center;
    padding-top: 40px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

.imagen5 img{
    width: 300px;
    height: 200px;
}

.im4{
    width: 50%;
    text-align: justify;
    float: right;
    justify-content: center;
    padding-top: 35px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

.imagen6 img{
    width: 300px;
    height: 200px;
    padding-left: 100px;
}

.im5{
    width: 50%;
    text-align: justify;
    float: left;
    justify-content: center;
    padding-top: 40px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

.imagen7 img{
    width: 300px;
    height: 200px;
}

.im6{
    width: 50%;
    text-align: justify;
    float: right;
    justify-content: center;
    padding-top: 35px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

.imagen8 img{
    width: 300px;
    height: 200px;
    padding-left: 100px;
}

.im7{
    width: 50%;
    text-align: justify;
    float: left;
    justify-content: center;
    padding-top: 40px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

.imagen9 img{
    width: 300px;
    height: 200px;
}

.im8{
    width: 50%;
    text-align: justify;
    float: right;
    justify-content: center;
    padding-top: 35px;
    padding-right: 30px;
    font-family: 'Quicksand', sans-serif;
}

img{
    width: 200px;
    height: 200px;
    transition:  border-radius 1s;
}

img:hover{
    border-radius: 50%;

}

footer{
    background-color: skyblue;
    padding: 40px;
    font-family: 'Quicksand', sans-serif;
}

footer a{
    color: black;
    transition: 0.5s;
    text-decoration: none;
    float: right;
    margin: 5px;
}

footer a:hover{
    color: rgb(255, 255, 255);
}

footer p{
    padding: 0;
}