*{
    margin: 0;
    padding: 0;
}

.cabeza{
    background-color: rgb(233, 219, 31);
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
}

.cabeza h1{
    font-size: 25px;
    text-shadow: 15px 10px 5px  rgba(59, 60, 63, 0.753);
}

.barra{
    margin: auto;
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    padding-top: 20px;
    
}





ul li{
    list-style: none;
}

.lista li a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    background-color: rgba(233, 220, 31, 0.856);
    font-family: 'Montserrat', sans-serif;
}

.lista li a:hover{
    transition: 0.5s;
    text-decoration: underline;
}

.lista li a:hover{
    background-color: rgb(197, 186, 27);
}

.lista > li {
    float: left;
}

.lista li ul{
    display: none;
    position: absolute;
    min-width: 140px;

}

.lista li:hover > ul{
    display: block;
}






article h1::selection{
    color: white;
    background-color: black;
    
}

article p::selection{
    color: white;
    background-color: black;
}








body{
    background-color: #eeee;
}

section{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    
}

section h1{
    font-size: 25px;
    
}


.logo{
    margin-top: 5%;
    margin-left: 270px;
    width: 200px;
    height: 200px;
    transition: 1s;
    
    
}

img:hover{
    /*width: 250px;
    height: 250px;*/
    cursor: pointer;
}

footer{
    margin-top: 20px;
    background-color: rgb(233, 219, 31);
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a {
    float: right;
    margin-right: 10px;
    transition: 0.5s ease;
    text-decoration: none;
    color: black;
}

.redes{
    float: left;
}

a:hover{
    color: white;
}